.menu.d-flex.justify-content-between {
  padding: 10px;
  background-color: black;
  font-weight: bold;
  /* color: white; */
}
li.nav-item-child.d-flex {
  padding-left: 46px;
}
aside.border-right.d-flex.side-container {
  margin-top: 2em;
}
li.side-tem-child.d-flex {
  padding: 2em 1em;
}
main.main-content.d-flex {
  margin: 2em;
  font-size: 2em;
  font-weight: 100;
}
.sideitem.d-flex {
  font-family: cursive;
}
.about.d-flex.align-items-end {
  padding-left: 2em;
}
.complaints {
  padding: 1em;
}